.recipe-header {
  width: 100%;
  .recipe-title {
    margin-bottom: 1rem;
  }
  .recipe-tagline {
    width: 30rem;
    margin-bottom: 2rem;
    gap: 1rem;
    img {
      padding-top: 0.3rem;
    }
    @include responsive{
      width: 22rem;
    }
  }
  .recipe-image {
    width: 100%;
    @include responsive{
        margin-bottom: -2rem;
    }
    img {
      width: 100%;
    }
  }
}
