// colors
$white: #fff;
$dark: #000;
$gray: #4f4f4f;
$dark-gray: #333;
$light-gray: #bdbdbd;
$medium-gray: #828282;
$orange: #f2994a;

// fonts
$font-display: "Playfair Display", serif;
$font-montserrat: "Montserrat", sans-serif;
$font-italic: italic;
$font-thin: 400;
$font-medium: 500;
$font-bold: 700;
$font-48: 48px;
$font-14: 14px;
$font-24: 24px;
$font-18: 18px;
$font-16: 16px;
$font-12: 12px;
$font-10: 10px;
$font-8: 8px;
// border radius
$xs-radius: 4px;
$sm-radius: 6px;
$md-radius: 12px;

// breakpoint for tablet/mobile
$breakpoint: 775px;
